<h1>Make your form here</h1>
<form action="/show" method="post">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="pirate[name]" id="name">
  </p>
  <p>
    <label for="name">Name: </label>
    <input type="text" name="pirate[name]" id="name">
  </p>
  <p>
    <label for="name">Name: </label>
    <input type="text" name="pirate[name]" id="name">
  </p>
  <input type="submit" id="submit">
</form>