<h1>Make your form here</h1>
<form action="/show" method="post">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="pirate[name]" id="name">
  </p>
  <p>
    <label for="weight">Weight: </label>
    <input type="text" name="pirate[weight]" id="weight">
    <label for="height">Height: </label>
    <input type="text" name="pirate[height]" id="height">
  </p>
  <p>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
  </p>
  <input type="submit" id="submit">
</form>